ch1{
    color:blueviolet;
}
  
h2{
   color:black;
}

#menu-bar{
    width: 40%;
    height: 20px;
    padding: 12px;

}

#menu a{
    color:darkorchid;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800px;
    padding-left: 30px;
    padding-right: 10px;

}

#menu a:hover{
    color:darksalmon;
}
     
table{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: sans-serif;
    border-width: 1px;
    border-style: solid;
    border-color:darksalmon;

}
p {
    color:black;
    font: size 20px;
    font-weight: 400;
}